@font-face {
    font-family: 'FixedSys';
    src: url('assets/FSEX300.ttf');
}

body {
    overflow-x: hidden;
}

$lcd-width: max(40vw, 300px);
$lcd-height: calc($lcd-width * 0.4825);
$unit-width: calc($lcd-width / 114);

#lcd {
    position: absolute;
    top: 2vw;
    width: $lcd-width;
    height: $lcd-height;

}

$text-size: calc($lcd-width * 0.0875);
$animation-len: 5s;

#lcd-matrix {
    overflow: hidden;
    font-family: 'FixedSys';
    text-align: center;
    -webkit-text-fill-color: #c9e1ff;
    -webkit-text-stroke-color: #c9e1ff;
    width: calc(96%/114*100);
    height: calc(35%/55*100);
    margin: auto;

    h1 {
        font-size: calc($text-size * 1.8);
    }

    p {
        position: absolute;
        -webkit-text-fill-color: #c9e1ff40;
        margin-top: 0;
        margin-bottom: 0;
        top: calc($text-size * -1);
        font-size: $text-size;
        animation-name: text-scroll-down;
        animation-timing-function: linear;
        animation-duration: $animation-len;
        animation-iteration-count: infinite;
        transform-origin: center center;
    }
}

$elements: 5;

@for $i from 1 through $elements {
    p:nth-child(#{$i}) {
        $delay: calc(3s + $animation-len / $elements * $i);
        animation-delay: $delay;
        -moz-animation-delay: $delay;
    }
}

@keyframes text-scroll-down {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, calc($text-size * 5));
    }
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-horizontal {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

$post-it-size: 20vw;

#post-it {
    width: calc((100vw - $lcd-width) / 2);
    position: relative;

    &:nth-child(2) {
        right: -70vw;
    }

    #note {
        position: absolute;
        width: $post-it-size;
        height: $post-it-size;
    }

    img {
        position: absolute;
        width: 80%;
        height: 80%;
    }
}

#content {
    transform: translateY(max(28vw, calc($lcd-height * 1.05)));
    width: 100%;
    text-align: center;

    #construction {
        border-radius: 5px;
        width: 80%;
        min-height: 50px;
        background: repeating-linear-gradient(45deg,
                #f3d217,
                #f3d217 40px,
                #423707 40px,
                #423707 80px);
        transform: translateX(12.5%);

        h1 {
            font-family: 'Comic Sans MS';
            color: #e94b0d;
            font-size: calc($text-size);
        }
    }
}

// .btn {
//     display: inline-block;
//     border-radius: 5px;
//     height: 512px + 32px;
//     width: 512px + 32px;
//     margin: 20px 20px 20px 20px;
//     border: 1px solid #f1f1f1;
//     perspective: 1000px;

//     .inner {
//         position: relative;
//         width: 100%;
//         height: 100%;
//         text-align: center;
//         transition: transform 0.8s;
//         transform-style: preserve-3d;
//     }

//     .hover .inner {
//         transform: rotateY(180deg);
//     }

//     .front,
//     .back {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         -webkit-backface-visibility: hidden;
//         backface-visibility: hidden;
//     }

//     .front {
//         background-color: #bbb;
//         color: black;
//     }

//     .back {
//         background-color: dodgerblue;
//         color: white;
//         transform: rotateY(180deg);
//     }
// }

.btn {
    display: inline-block;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    perspective: 1000px;

    img {
        margin: 0;
        position: relative;
    }

    .inner {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
        width: 512px;
        height: 512px;
        top: 16px;
        left: 16px;
    }

    .front {
        z-index: 2;
        transform: rotateY(0deg);
    }

    .back {
        transform: rotateY(180deg);
    }
}

.btn.hover .inner {
    transform: rotateY(180deg);
}

.btn,
.inner {
    height: 512px + 32px;
    width: 512px + 32px;
}

@keyframes flip {
    100% {
        width: 80vw;
        height: 80;
    }
}