@import "text.css";
@import "gruvbox-color.css";
@font-face {
  font-family: "FixedSys";
  src: url("assets/FSEX300.ttf");
}
body {
  margin: 0;
  font-family: FixedSys;
  overflow-x: clip;
}

#grid {
  position: fixed;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #7697d4;
  background-image: linear-gradient(0deg, transparent 9%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 12%, transparent 13%, transparent 29%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 31%, transparent 32%, transparent 49%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 51%, transparent 52%, transparent 69%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 71%, transparent 72%, transparent 89%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.1) 91%, transparent 92%, transparent), linear-gradient(90deg, transparent 9%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 12%, transparent 13%, transparent 29%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 31%, transparent 32%, transparent 49%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 51%, transparent 52%, transparent 69%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 71%, transparent 72%, transparent 89%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.1) 91%, transparent 92%, transparent);
  height: 100%;
  background-size: 50px 50px;
}

#header {
  top: 8vh;
  transform: translate(-8px, -8px);
  width: 100vw;
  height: 65vh;
  z-index: 0;
  position: relative;
}
#header #flop {
  position: relative;
  width: calc(max(40vw, 300px) * 0.3);
  height: calc(max(40vw, 300px) * 0.3);
  top: calc(65vh - max(40vw, 300px) * 0.3 + 10px - 8vh);
  left: calc(50vw - max(40vw, 300px) * 0.3 / 2);
}

#lcd {
  top: 50px;
  z-index: 0;
  width: max(40vw, 300px);
  height: calc(max(40vw, 300px) * 0.4825);
}

#lcd-matrix {
  overflow: hidden;
  font-family: "FixedSys";
  text-align: center;
  -webkit-text-fill-color: #c9e1ff;
  -webkit-text-stroke-color: #c9e1ff;
  width: 84.2105263158%;
  height: 63.6363636364%;
  margin: auto;
}
#lcd-matrix h1 {
  font-size: calc(max(40vw, 300px) * 0.0875 * 1.8);
}
#lcd-matrix p {
  position: absolute;
  -webkit-text-fill-color: rgba(201, 225, 255, 0.2509803922);
  margin-top: 0;
  margin-bottom: 0;
  top: calc(max(40vw, 300px) * 0.0875 * -1);
  font-size: calc(max(40vw, 300px) * 0.0875);
  -webkit-animation-name: text-scroll-down;
          animation-name: text-scroll-down;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: center center;
}

p:nth-child(1) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -moz-animation-delay: 4s;
}

p:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -moz-animation-delay: 5s;
}

p:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -moz-animation-delay: 6s;
}

p:nth-child(4) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -moz-animation-delay: 7s;
}

p:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -moz-animation-delay: 8s;
}

@-webkit-keyframes text-scroll-down {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(max(40vw, 300px) * 0.0875 * 5));
  }
}

@keyframes text-scroll-down {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(max(40vw, 300px) * 0.0875 * 5));
  }
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#post-it {
  width: calc((100vw - max(40vw, 300px)) / 2);
  position: relative;
}
#post-it:nth-child(2) {
  right: -70vw;
}
#post-it #note {
  position: absolute;
  width: 20vw;
  height: 20vw;
}
#post-it img {
  position: absolute;
  width: 80%;
  height: 80%;
}

#content {
  overflow: visible;
  left: 0px;
  position: relative;
  left: 7.5vw;
  width: 85vw;
  text-align: center;
}
#content #frame {
  border-radius: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100%;
}
#content #frame.blue {
  border: 5px solid var(--gb-f-blue);
  background-color: var(--gb-blue);
}
#content #frame.green {
  border: 5px solid var(--gb-f-green);
  background-color: var(--gb-green);
}
#content #title-bar {
  height: 20px;
  width: 100%;
  position: relative;
  border: 5px solid var(--gb-bg0-h);
  background-color: var(--gb-bg0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-family: "FixedSys";
}
#content #title-bar #window-button {
  width: 60px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
#content .flex {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#content .flex #h {
  font-size: calc(max(40vw, 300px) * 0.0875 * 1);
  margin-top: 0;
  margin-left: 5px;
  width: 100%;
  position: relative;
}
#content .desc,
#content .icon {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1725490196);
  position: static;
  height: 21.25vw;
  transition: transform 1.5s, filter 0.4s;
}
#content .desc {
  text-align: left;
  width: 59.5vw;
  margin-left: 8px;
}
#content .desc .markdown-body {
  height: calc(21.25vw - 30px - 32px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#content .icon {
  border-radius: 10px;
  width: 21.25vw;
}
#content .wrapper {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
#content .wrapper .desc {
  visibility: hidden;
  border: none;
  transform: scaleX(0);
}
#content .wrapper .icon {
  transform: translateX(140%);
}
#content .active .desc {
  visibility: visible;
  transform: scaleX(1);
}
#content .active .icon {
  transform: translateX(0%);
}

#tabs {
  z-index: 9001;
  position: fixed;
  font-size: 4vh;
  height: 1.2em;
  width: 100vw;
  left: 0;
  top: 0;
  border-bottom: 5px solid var(--gb-bg0-h);
  background-color: var(--gb-bg0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#tabs #tab {
  display: inline-block;
  height: calc(1.2em + 5px);
  height: 100%;
  transition: 0.3s;
  text-align: center;
  font-size: xx-large;
}
#tabs img {
  height: 1.2em;
}

#tab:nth-child(1) {
  color: var(--gb-blue);
  width: 8vw;
}

#tab:nth-child(1):hover {
  background-color: var(--gb-f-blue);
}

#tab:nth-child(2) {
  color: var(--gb-green);
  width: 8vw;
}

#tab:nth-child(2):hover {
  background-color: var(--gb-f-green);
}

#tab:nth-child(3) {
  color: transparent;
  width: 1.2em;
}

#tab:nth-child(3):hover {
  background-color: var(--gb-fg0);
}/*# sourceMappingURL=styles.css.map */