@import "text.css";
@import "gruvbox-color.css";

// font stuff (noway)
@font-face {
    font-family: 'FixedSys';
    src: url('assets/FSEX300.ttf');
}

body {
    margin: 0;
    font-family: FixedSys;
    overflow-x: clip;
}

// stole from somewhere i forget
#grid {
    position: fixed;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: #7697d4;
    background-image:
        linear-gradient(0deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
        linear-gradient(90deg, transparent 9%,
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
    height: 100%;
    background-size: 50px 50px;
}

// size variables i reference later
$lcd-width: max(40vw, 300px);
$lcd-height: calc($lcd-width * 0.4825);
$unit-width: calc($lcd-width / 114);

$header-height: 65vh;

#header {
    top: 8vh;
    transform: translate(-8px, -8px);
    width: 100vw;
    height: $header-height;
    z-index: 0;
    position: relative;
    // animation: scanlines 1s steps($scan-fps) infinite;

    $flop-size: calc($lcd-width * 0.3);

    #flop {
        position: relative;
        width: $flop-size;
        height: $flop-size;
        top: calc($header-height - $flop-size + 10px - 8vh);
        left: calc(50vw - $flop-size / 2);
    }
}




// the lcd - what you
#lcd {
    top: 50px;
    z-index: 0;
    width: $lcd-width;
    height: $lcd-height;
}

$text-size: calc($lcd-width * 0.0875);
$animation-len: 5s;

// the screen of the lcd
#lcd-matrix {
    overflow: hidden;
    font-family: 'FixedSys';
    text-align: center;
    -webkit-text-fill-color: #c9e1ff;
    -webkit-text-stroke-color: #c9e1ff;
    width: calc(96%/114*100);
    height: calc(35%/55*100);
    margin: auto;

    h1 {
        font-size: calc($text-size * 1.8);
    }

    p {
        position: absolute;
        -webkit-text-fill-color: #c9e1ff40;
        margin-top: 0;
        margin-bottom: 0;
        top: calc($text-size * -1);
        font-size: $text-size;
        animation-name: text-scroll-down;
        animation-timing-function: linear;
        animation-duration: $animation-len;
        animation-iteration-count: infinite;
        transform-origin: center center;
    }
}

$elements: 5;

// scroll the text down
@for $i from 1 through $elements {
    p:nth-child(#{$i}) {
        $delay: calc(3s + $animation-len / $elements * $i);
        animation-delay: $delay;
        -moz-animation-delay: $delay;
    }
}

@keyframes text-scroll-down {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, calc($text-size * 5));
    }
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-horizontal {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

$post-it-size: 20vw;


// post it notes :D
#post-it {
    width: calc((100vw - $lcd-width) / 2);
    position: relative;

    // the second post it note group  should be aligned to the right
    &:nth-child(2) {
        right: -70vw;
    }

    // the post it notes themselves
    #note {
        position: absolute;
        width: $post-it-size;
        height: $post-it-size;
    }

    // the things drawn on the post its
    img {
        position: absolute;
        width: 80%;
        height: 80%;
    }
}

$pane-width: 0.75;
$border-radius: 10px;

// the meat and bones of the websites, or, shockingly, the content
#content {
    overflow: visible;
    left: 0px;
    // transform: TranslateY(100vh);
    position: absolute;
    left: calc(100vw * (1 - $pane-width) / 2);
    width: calc(100vw * $pane-width);
    padding-bottom: 20vh;
    text-align: center;
    // background-color: gray;


    #frame {
        border: 5px solid var(--gb-f-blue);

        border-radius: $border-radius;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--gb-blue);

        height: 100%;
    }

    #title {
        height: 20px;
        width: 100%;

        // padding-top: calc($title-text * 0.3);
        // padding-bottom: calc($title-text * 0.3);

        border: 5px solid var(--gb-bg0-h);

        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background-color: var(--gb-bg0);

        font-family: 'FixedSys';
        position: relative;
    }

    $item-size: calc(34vw * $pane-width);
    $desc-size: 1.5;

    .flex {
        justify-content: center;
        display: flex;
        flex-direction: column;

        #h {
            font-size: calc($text-size * 1);
            margin-top: 0;
            margin-left: 5px;
            width: 100%;
            position: relative;
            // background-color: var(--gb-f-blue);
        }
    }

    .desc,
    .icon {
        margin-top: 10px;
        position: relative;
        display: inline-block;
        box-shadow: 5px 10px 8px #00000062;
        // left: 0;
        position: static;
        // width: $item-size;
        height: $item-size;
        border-radius: 5px;
        transition: transform 1s, filter 0.4s;
    }

    .desc {
        overflow-y: scroll;
        text-align: left;
        width: calc($item-size * $desc-size);
        margin-left: 8px;
    }

    .icon {
        // margin-right: 0px;
        width: $item-size;
    }

    .active,
    .wrapper {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .wrapper {
        .desc {
            visibility: hidden;
            border: none;
            transform: scaleX(0);
        }

        .icon {
            transform: translateX(calc(100% * $desc-size / 2));
        }
    }

    .active {

        .desc {
            visibility: visible;
            transform: scaleX(1);
        }

        .icon {

            transform: translateX(0%);
        }

    }
}


#tabs {
    z-index: 9001;

    position: fixed;
    height: 8vh;
    width: 100vw;
    left: 0;
    top: 0;
    border-bottom: 5px solid var(--gb-bg0-h);

    text-align: center;
    color: var(--gb-fg0);
    font-size: x-large;
    background-color: var(--gb-bg0);
}