@import "text.css";
@font-face {
  font-family: "FixedSys";
  src: url("assets/FSEX300.ttf");
}
body {
  overflow-x: clip;
}

#header {
  transform: translate(-8px, -8px);
  width: 100vw;
  height: 70vh;
  z-index: 0;
  position: relative;
}
#header #flop {
  position: relative;
  width: calc(max(40vw, 300px) * 0.5);
  height: calc(max(40vw, 300px) * 0.5);
  top: calc(70vh - max(40vw, 300px) * 0.5);
  left: calc(50vw - max(40vw, 300px) * 0.5 / 2);
}

#lcd {
  z-index: 0;
  top: 10px;
  width: max(40vw, 300px);
  height: calc(max(40vw, 300px) * 0.4825);
}

#lcd-matrix {
  overflow: hidden;
  font-family: "FixedSys";
  text-align: center;
  -webkit-text-fill-color: #c9e1ff;
  -webkit-text-stroke-color: #c9e1ff;
  width: 84.2105263158%;
  height: 63.6363636364%;
  margin: auto;
}
#lcd-matrix h1 {
  font-size: calc(max(40vw, 300px) * 0.0875 * 1.8);
}
#lcd-matrix p {
  position: absolute;
  -webkit-text-fill-color: rgba(201, 225, 255, 0.2509803922);
  margin-top: 0;
  margin-bottom: 0;
  top: calc(max(40vw, 300px) * 0.0875 * -1);
  font-size: calc(max(40vw, 300px) * 0.0875);
  -webkit-animation-name: text-scroll-down;
          animation-name: text-scroll-down;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: center center;
}

p:nth-child(1) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -moz-animation-delay: 4s;
}

p:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -moz-animation-delay: 5s;
}

p:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -moz-animation-delay: 6s;
}

p:nth-child(4) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -moz-animation-delay: 7s;
}

p:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -moz-animation-delay: 8s;
}

@-webkit-keyframes text-scroll-down {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(max(40vw, 300px) * 0.0875 * 5));
  }
}

@keyframes text-scroll-down {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(max(40vw, 300px) * 0.0875 * 5));
  }
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#post-it {
  width: calc((100vw - max(40vw, 300px)) / 2);
  position: relative;
}
#post-it:nth-child(2) {
  right: -70vw;
}
#post-it #note {
  position: absolute;
  width: 20vw;
  height: 20vw;
}
#post-it img {
  position: absolute;
  width: 80%;
  height: 80%;
}

#content {
  left: 0px;
  position: absolute;
  left: 12.5vw;
  width: 75vw;
  padding-bottom: 20vh;
  text-align: center;
}
#content #construction {
  border-radius: 5px;
  width: 80%;
  min-height: 50px;
  background: repeating-linear-gradient(45deg, #f3d217, #f3d217 40px, #423707 40px, #423707 80px);
  transform: translateX(12.5%);
}
#content #construction h1 {
  font-family: "Comic Sans MS";
  color: #e94b0d;
  font-size: calc(max(40vw, 300px) * 0.0875);
}
#content .flex {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#content .desc,
#content .icon {
  position: relative;
  display: inline-block;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.1529411765);
  position: static;
  height: 25.5vw;
  border-radius: 5px;
  transition: transform 1s, filter 0.4s;
}
#content .desc {
  overflow-y: scroll;
  text-align: left;
  width: 38.25vw;
  margin-left: 8px;
}
#content .icon {
  width: 25.5vw;
}
#content .active,
#content .wrapper {
  margin: 0;
}
#content .wrapper .desc {
  visibility: hidden;
  border: none;
  transform: scaleX(0);
}
#content .wrapper .icon {
  transform: translateX(75%);
}
#content .active .desc {
  visibility: visible;
  transform: scaleX(1);
}
#content .active .icon {
  transform: translateX(0%);
}

#content #tabs {
  position: absolute;
  transform: translateY(-10vh);
  height: 10vh;
  background: none;
}

#grid {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7697d4;
  background-image: linear-gradient(0deg, transparent 9%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 12%, transparent 13%, transparent 29%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 31%, transparent 32%, transparent 49%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 51%, transparent 52%, transparent 69%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 71%, transparent 72%, transparent 89%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.1) 91%, transparent 92%, transparent), linear-gradient(90deg, transparent 9%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 12%, transparent 13%, transparent 29%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 31%, transparent 32%, transparent 49%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 51%, transparent 52%, transparent 69%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 71%, transparent 72%, transparent 89%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.1) 91%, transparent 92%, transparent);
  height: 100%;
  background-size: 50px 50px;
}/*# sourceMappingURL=styles.css.map */