@import "gruvbox-color.css";

.markdown-body {
    padding: 16px 32px 16px 32px;
    background: linear-gradient(0deg, #0d11174d, #0d11177a);
}


/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

.desc {
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.09);
    scrollbar-width: thin;
}

.markdown-body {
    color-scheme: dark;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #c9d1d9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body.octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdown-bodyh1:hover .anchor .octicon-link:before,
.markdown-bodyh2:hover .anchor .octicon-link:before,
.markdown-bodyh3:hover .anchor .octicon-link:before,
.markdown-bodyh4:hover .anchor .octicon-link:before,
.markdown-bodyh5:hover .anchor .octicon-link:before,
.markdown-bodyh6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-bodydetails,
.markdown-bodyfigcaption,
.markdown-bodyfigure {
    display: block;
}

.markdown-bodysummary {
    display: list-item;
}

.markdown-body[hidden] {
    display: none !important;
}

.markdown-bodya {
    background-color: transparent;
    color: #58a6ff;
    text-decoration: none;
}

.markdown-bodya:active,
.markdown-bodya:hover {
    outline-width: 0;
}

.markdown-bodyabbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

.markdown-bodyb,
.markdown-bodystrong {
    font-weight: 600;
}

.markdown-bodydfn {
    font-style: italic;
}

.markdown-bodyh1 {
    margin: .67em 0;
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid #21262d;
}

.markdown-bodymark {
    background-color: rgba(187, 128, 9, 0.15);
    color: #c9d1d9;
}

.markdown-bodysmall {
    font-size: 90%;
}

.markdown-bodysub,
.markdown-bodysup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdown-bodysub {
    bottom: -0.25em;
}

.markdown-bodysup {
    top: -0.5em;
}

.markdown-bodyimg {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #0d1117;
}

.markdown-bodycode,
.markdown-bodykbd,
.markdown-bodypre,
.markdown-bodysamp {
    font-family: monospace, monospace;
    font-size: 1em;
}

.markdown-bodyfigure {
    margin: 1em 40px;
}

.markdown-bodyhr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid #21262d;
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #30363d;
    border: 0;
}

.markdown-bodyinput {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown-body[type=button],
.markdown-body[type=reset],
.markdown-body[type=submit] {
    -webkit-appearance: button;
}

.markdown-body[type=button]::-moz-focus-inner,
.markdown-body[type=reset]::-moz-focus-inner,
.markdown-body[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.markdown-body[type=button]:-moz-focusring,
.markdown-body[type=reset]:-moz-focusring,
.markdown-body[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.markdown-body[type=checkbox],
.markdown-body[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-body[type=number]::-webkit-inner-spin-button,
.markdown-body[type=number]::-webkit-outer-spin-button {
    height: auto;
}

.markdown-body[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.markdown-body[type=search]::-webkit-search-cancel-button,
.markdown-body[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.markdown-body::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.markdown-body::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.markdown-bodya:hover {
    text-decoration: underline;
}

.markdown-bodyhr::before {
    display: table;
    content: "";
}

.markdown-bodyhr::after {
    display: table;
    clear: both;
    content: "";
}

.markdown-bodytable {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.markdown-bodytd,
.markdown-bodyth {
    padding: 0;
}

.markdown-bodydetails summary {
    cursor: pointer;
}

.markdown-bodydetails:not([open])>*:not(summary) {
    display: none !important;
}

.markdown-bodykbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    line-height: 10px;
    color: #c9d1d9;
    vertical-align: middle;
    background-color: #161b22;
    border: solid 1px rgba(110, 118, 129, 0.4);
    border-bottom-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

.markdown-bodyh1,
.markdown-bodyh2,
.markdown-bodyh3,
.markdown-bodyh4,
.markdown-bodyh5,
.markdown-bodyh6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-bodyh2 {
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #21262d;
}

.markdown-bodyh3 {
    font-weight: 600;
    font-size: 1.25em;
}

.markdown-bodyh4 {
    font-weight: 600;
    font-size: 1em;
}

.markdown-bodyh5 {
    font-weight: 600;
    font-size: .875em;
}

.markdown-bodyh6 {
    font-weight: 600;
    font-size: .85em;
    color: #8b949e;
}

.markdown-bodyp {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdown-bodyblockquote {
    margin: 0;
    padding: 0 1em;
    color: #8b949e;
    border-left: .25em solid #30363d;
}

.markdown-bodyul,
.markdown-bodyol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdown-bodyol ol,
.markdown-bodyul ol {
    list-style-type: lower-roman;
}

.markdown-bodyul ul ol,
.markdown-bodyul ol ol,
.markdown-bodyol ul ol,
.markdown-bodyol ol ol {
    list-style-type: lower-alpha;
}

.markdown-bodydd {
    margin-left: 0;
}

.markdown-bodytt,
.markdown-bodycode {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}

.markdown-bodypre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdown-body.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdown-body::placeholder {
    color: #484f58;
    opacity: 1;
}

.markdown-bodyinput::-webkit-outer-spin-button,
.markdown-bodyinput::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdown-body.pl-c {
    color: #8b949e;
}

.markdown-body.pl-c1,
.markdown-body.pl-s .pl-v {
    color: #79c0ff;
}

.markdown-body.pl-e,
.markdown-body.pl-en {
    color: #d2a8ff;
}

.markdown-body.pl-smi,
.markdown-body.pl-s .pl-s1 {
    color: #c9d1d9;
}

.markdown-body.pl-ent {
    color: #7ee787;
}

.markdown-body.pl-k {
    color: #ff7b72;
}

.markdown-body.pl-s,
.markdown-body.pl-pds,
.markdown-body.pl-s .pl-pse .pl-s1,
.markdown-body.pl-sr,
.markdown-body.pl-sr .pl-cce,
.markdown-body.pl-sr .pl-sre,
.markdown-body.pl-sr .pl-sra {
    color: #a5d6ff;
}

.markdown-body.pl-v,
.markdown-body.pl-smw {
    color: #ffa657;
}

.markdown-body.pl-bu {
    color: #f85149;
}

.markdown-body.pl-ii {
    color: #f0f6fc;
    background-color: #8e1519;
}

.markdown-body.pl-c2 {
    color: #f0f6fc;
    background-color: #b62324;
}

.markdown-body.pl-sr .pl-cce {
    font-weight: bold;
    color: #7ee787;
}

.markdown-body.pl-ml {
    color: #f2cc60;
}

.markdown-body.pl-mh,
.markdown-body.pl-mh .pl-en,
.markdown-body.pl-ms {
    font-weight: bold;
    color: #1f6feb;
}

.markdown-body.pl-mi {
    font-style: italic;
    color: #c9d1d9;
}

.markdown-body.pl-mb {
    font-weight: bold;
    color: #c9d1d9;
}

.markdown-body.pl-md {
    color: #ffdcd7;
    background-color: #67060c;
}

.markdown-body.pl-mi1 {
    color: #aff5b4;
    background-color: #033a16;
}

.markdown-body.pl-mc {
    color: #ffdfb6;
    background-color: #5a1e02;
}

.markdown-body.pl-mi2 {
    color: #c9d1d9;
    background-color: #1158c7;
}

.markdown-body.pl-mdr {
    font-weight: bold;
    color: #d2a8ff;
}

.markdown-body.pl-ba {
    color: #8b949e;
}

.markdown-body.pl-sg {
    color: #484f58;
}

.markdown-body.pl-corl {
    text-decoration: underline;
    color: #a5d6ff;
}

.markdown-body[data-catalyst] {
    display: block;
}

.markdown-bodyg-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
}

.markdown-bodyg-emoji img {
    width: 1em;
    height: 1em;
}

body::before {
    display: table;
    content: "";
}

body::after {
    display: table;
    clear: both;
    content: "";
}

body>*:first-child {
    margin-top: 0 !important;
}

body>*:last-child {
    margin-bottom: 0 !important;
}

.markdown-bodya:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown-body.absent {
    color: #f85149;
}

.markdown-body.anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdown-body.anchor:focus {
    outline: none;
}

.markdown-bodyp,
.markdown-bodyblockquote,
.markdown-bodyul,
.markdown-bodyol,
.markdown-bodydl,
.markdown-bodytable,
.markdown-bodypre,
.markdown-bodydetails {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-bodyblockquote>:first-child {
    margin-top: 0;
}

.markdown-bodyblockquote>:last-child {
    margin-bottom: 0;
}

.markdown-bodysup>a::before {
    content: "[";
}

.markdown-bodysup>a::after {
    content: "]";
}

.markdown-bodyh1 .octicon-link,
.markdown-bodyh2 .octicon-link,
.markdown-bodyh3 .octicon-link,
.markdown-bodyh4 .octicon-link,
.markdown-bodyh5 .octicon-link,
.markdown-bodyh6 .octicon-link {
    color: #c9d1d9;
    vertical-align: middle;
    visibility: hidden;
}

.markdown-bodyh1:hover .anchor,
.markdown-bodyh2:hover .anchor,
.markdown-bodyh3:hover .anchor,
.markdown-bodyh4:hover .anchor,
.markdown-bodyh5:hover .anchor,
.markdown-bodyh6:hover .anchor {
    text-decoration: none;
}

.markdown-bodyh1:hover .anchor .octicon-link,
.markdown-bodyh2:hover .anchor .octicon-link,
.markdown-bodyh3:hover .anchor .octicon-link,
.markdown-bodyh4:hover .anchor .octicon-link,
.markdown-bodyh5:hover .anchor .octicon-link,
.markdown-bodyh6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdown-bodyh1 tt,
.markdown-bodyh1 code,
.markdown-bodyh2 tt,
.markdown-bodyh2 code,
.markdown-bodyh3 tt,
.markdown-bodyh3 code,
.markdown-bodyh4 tt,
.markdown-bodyh4 code,
.markdown-bodyh5 tt,
.markdown-bodyh5 code,
.markdown-bodyh6 tt,
.markdown-bodyh6 code {
    padding: 0 .2em;
    font-size: inherit;
}

.markdown-bodyul.no-list,
.markdown-bodyol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdown-bodyol[type="1"] {
    list-style-type: decimal;
}

.markdown-bodyol[type=a] {
    list-style-type: lower-alpha;
}

.markdown-bodyol[type=i] {
    list-style-type: lower-roman;
}

.markdown-bodydiv>ol:not([type]) {
    list-style-type: decimal;
}

.markdown-bodyul ul,
.markdown-bodyul ol,
.markdown-bodyol ol,
.markdown-bodyol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-bodyli>p {
    margin-top: 16px;
}

.markdown-bodyli+li {
    margin-top: .25em;
}

.markdown-bodydl {
    padding: 0;
}

.markdown-bodydl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdown-bodydl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdown-bodytable th {
    font-weight: 600;
}

.markdown-bodytable th,
.markdown-bodytable td {
    padding: 6px 13px;
    border: 1px solid #30363d;
}

.markdown-bodytable tr {
    background-color: #0d1117;
    border-top: 1px solid #21262d;
}

.markdown-bodytable tr:nth-child(2n) {
    background-color: #161b22;
}

.markdown-bodytable img {
    background-color: transparent;
}

.markdown-bodyimg[align=right] {
    padding-left: 20px;
}

.markdown-bodyimg[align=left] {
    padding-right: 20px;
}

.markdown-body.emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdown-bodyspan.frame {
    display: block;
    overflow: hidden;
}

.markdown-bodyspan.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #30363d;
}

.markdown-bodyspan.frame span img {
    display: block;
    float: left;
}

.markdown-bodyspan.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #c9d1d9;
}

.markdown-bodyspan.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-bodyspan.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdown-bodyspan.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdown-bodyspan.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-bodyspan.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdown-bodyspan.align-right span img {
    margin: 0;
    text-align: right;
}

.markdown-bodyspan.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdown-bodyspan.float-left span {
    margin: 13px 0 0;
}

.markdown-bodyspan.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdown-bodyspan.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdown-bodycode,
.markdown-bodytt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
}

.markdown-bodycode br,
.markdown-bodytt br {
    display: none;
}

.markdown-bodydel code {
    text-decoration: inherit;
}

.markdown-bodypre code {
    font-size: 100%;
}

.markdown-bodypre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-body.highlight {
    margin-bottom: 16px;
}

.markdown-body.highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body.highlight pre,
.markdown-bodypre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22;
    border-radius: 6px;
}

.markdown-bodypre code,
.markdown-bodypre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-body.csv-data td,
.markdown-body.csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdown-body.csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #0d1117;
    border: 0;
}

.markdown-body.csv-data tr {
    border-top: 0;
}

.markdown-body.csv-data th {
    font-weight: 600;
    background: #161b22;
    border-top: 0;
}

.markdown-body.footnotes {
    font-size: 12px;
    color: #8b949e;
    border-top: 1px solid #30363d;
}

.markdown-body.footnotes ol {
    padding-left: 16px;
}

.markdown-body.footnotes li {
    position: relative;
}

.markdown-body.footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid #1f6feb;
    border-radius: 6px;
}

.markdown-body.footnotes li:target {
    color: #c9d1d9;
}

.markdown-body.footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}

.markdown-body.task-list-item {
    list-style-type: none;
}

.markdown-body.task-list-item label {
    font-weight: 400;
}

.markdown-body.task-list-item.enabled label {
    cursor: pointer;
}

.markdown-body.task-list-item+.task-list-item {
    margin-top: 3px;
}

.markdown-body.task-list-item .handle {
    display: none;
}

.markdown-body.task-list-item-checkbox {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

.markdown-body.contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em .25em .2em;
}

.markdown-body::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}