/* GRUVBOX but slightly modified */

:root {
    --color-frame-blue: hsl(192, 32%, 75%);
    --color-inner-blue: hsl(193, 56%, 84%);
    // --color-frame-green: hsl(132, 69%, 60%);
    // --color-inner-green: hsl(132, 88%, 72%);
    
    --color-bg: hsl(0, 0%, 100%);
    --color-grid-1: rgba(255, 255, 255, 0.2);
    --color-grid-2: rgba(255, 255, 255, 0.3);
}
