@import "config";
@import "variables";

// size variables i reference later

#header {
    top: 4vh;
    transform: translate(-8px, -8px);
    width: 100vw;
    height: $header-height;
    z-index: 0;
    position: relative;
    // animation: scanlines 1s steps($scan-fps) infinite

    #flop {
        position: absolute;
        width: $flop-size;
        height: $flop-size;
        top: calc($header-height - $flop-size + 10px - 4vh);
        left: calc(50vw - $flop-size / 2);
    }
}

// the lcd (self explanatory)
#lcd {
    top: 50px;
    z-index: 0;
    width: $lcd-width;
    height: $lcd-height;
}

$animation-len: 5s;

// the screen of the lcd
#lcd-matrix {
    overflow: hidden;
    font-family: "FixedSys";
    text-align: center;
    -webkit-text-fill-color: #c9e1ff;
    -webkit-text-stroke-color: #c9e1ff;
    width: calc(96% / 114 * 100);
    height: calc(35% / 55 * 100);
    margin: auto;

    h1 {
        font-size: calc($text-size * 1.8);
    }

    p {
        position: absolute;
        -webkit-text-fill-color: #c9e1ff40;
        margin-top: 0;
        margin-bottom: 0;
        top: calc($text-size * -1);
        font-size: $text-size;
        animation-name: text-scroll-down;
        animation-timing-function: linear;
        animation-duration: $animation-len;
        animation-iteration-count: infinite;
        transform-origin: center center;
    }
}

$post-it-size: min(20vw, 300px);

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-horizontal {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

$post-it-grid: 8;

// post it notes :D
#post-it {
    width: calc(50vw - $lcd-width / 2);
    height: calc($header-height - 6vh + $post-it-size);
    display: grid;
    position: absolute;
    // grid-template-columns: repeat($post-it-grid, minmax(0, 1fr));
    // grid-template-rows: repeat($post-it-grid, minmax(0, 1fr));
    // top: calc(-$post-it-size);

    // the second post it note group  should be aligned to the right
    &:nth-child(1) {
        left: 0;
    }
    &:nth-child(2) {
        right: 0;
    }

    // the post it notes themselves
    #note {
        position: absolute;
        width: $post-it-size;
        height: $post-it-size;
    }

    #note {
        margin: 0 auto;
    }

    // the things drawn on the post its
    img {
        width: 80%;
        position: absolute;
        // transform: translate(calc(-$pos-it-size, -$post-it-size));
    }
}

.right > * {
    right: 0;
}
