@import "variables";

$item-size: calc($content-width * 0.25);

.project {
    $desc-size: 2.8;

    .project {
        display: flex;
        flex-direction: row;
    }
}

.desc,
.icon {
    position: relative;
    display: inline-block;
    // box-shadow: 10px 10px 10px #0000002c;
    // left: 0;
    // width: $item-size;
    height: $item-size;
    // transition: transform 1.5s, filter 0.4s;
}


.icon {
    margin-left: 5px;
    border-radius: 10px;
    width: $item-size;
}

.desc {
    color: #404040;
    
    padding-left: 15px;
    margin-top: 5px;
    text-align: left;
    border-radius: $border-size;
    width: calc(100% - $border-size * 2 - $item-size - 20px);
    // flex: 1;
    height: $item-size;
    overflow: scroll;
    
    h1 {
        margin: 0.5em 0;
    }
    
    p {
        margin: 0.5em 0;
    }
}