@import "variables";
@import "config";
// other css files
@import "text.css";
// font stuff (noway)
@font-face {
    font-family: "FixedSys";
    src: url("../assets/FSEX300.ttf");
}

body {
    margin: 0;
    font-family: FixedSys;
    overflow-x: clip;
    background-color: white;
}


// stole from somewhere i forget
#grid {
    position: fixed;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: var(--color-bg);
    background-image: linear-gradient(
            0deg,
            transparent 9%,
            var(--color-grid-2) 10%,
            var(--color-grid-2) 12%,
            transparent 13%,
            transparent 29%,
            var(--color-grid-1) 30%,
            var(--color-grid-1) 31%,
            transparent 32%,
            transparent 49%,
            var(--color-grid-1) 50%,
            var(--color-grid-1) 51%,
            transparent 52%,
            transparent 69%,
            var(--color-grid-1) 70%,
            var(--color-grid-1) 71%,
            transparent 72%,
            transparent 89%,
            var(--color-grid-1) 90%,
            var(--color-grid-1) 91%,
            transparent 92%,
            transparent
        ),
        linear-gradient(
            90deg,
            transparent 9%,
            var(--color-grid-2) 10%,
            var(--color-grid-2) 12%,
            transparent 13%,
            transparent 29%,
            var(--color-grid-1) 30%,
            var(--color-grid-1) 31%,
            transparent 32%,
            transparent 49%,
            var(--color-grid-1) 50%,
            var(--color-grid-1) 51%,
            transparent 52%,
            transparent 69%,
            var(--color-grid-1) 70%,
            var(--color-grid-1) 71%,
            transparent 72%,
            transparent 89%,
            var(--color-grid-1) 90%,
            var(--color-grid-1) 91%,
            transparent 92%,
            transparent
        );
    height: 100%;
    background-size: 50px 50px;
}

// the meat and bones of the websites, or, shockingly, the content
#content {
    overflow: visible;
    left: 0px;
    // transform: TranslateY(100vh);
    position: relative;
    left: calc(100vw * (1 - $pane-width) / 2);
    width: calc(100vw * $pane-width);
    text-align: center;
    // background-color: gray;

    #frame {
        &.blue {
            border: 5px solid var(--color-frame-blue);
            background-color: var(--color-inner-blue);
        }

        &.green {
            border: 5px solid var(--color-frame-green);
            background-color: var(--color-inner-green);
        }

        border-radius: $border-radius;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;

        height: 100%;
    }

    #title-bar {
        height: 20px;
        width: 100%;
        position: relative;

        border: 5px solid var(--gb-bg0-h);
        background-color: var(--gb-bg0);

        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        text-align: center;
        font-family: "FixedSys";

        #window-button {
            width: 60px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

$navbar-height: calc(1.2em);

#tabs {
    z-index: 9001;

    position: fixed;
    font-size: 4vh;

    height: $navbar-height;

    width: 100vw;
    left: 0;
    top: 0;
    border-bottom: 5px solid var(--gb-bg0-h);
    background-color: var(--gb-bg0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #tab {
        display: inline-block;

        height: calc($navbar-height + 5px);
        height: 100%;

        transition: 0.3s;

        text-align: center;
        font-size: xx-large;
    }

    img {
        height: $navbar-height;
    }
}

// info about each tab, width, color, etc
$tab-info: (
    "home": (
        8vw,
        var(--gb-blue),
        var(--gb-f-blue),
    ),
    "blog": (
        8vw,
        var(--gb-green),
        var(--gb-f-green),
    ),
    "source": (
        $navbar-height,
        transparent,
        var(--gb-fg0),
    ),
);

@for $i from 1 through length($tab-info) {
    $info: nth(nth($tab-info, $i), 2);
    $width: nth($info, 1);
    $color: nth($info, 2);
    $hover-color: nth($info, 3);

    #tab:nth-child(#{$i}) {
        color: $color;
        width: $width;
    }

    #tab:nth-child(#{$i}):hover {
        background-color: $hover-color;
    }
}

#preview-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;

    align-items: center;
    display: flex;

    #preview {
        flex: auto;
        text-decoration: none;

        display: inline-block;
        position: relative;
        margin: 7.5px;
        width: calc(50% - 80px);
        height: 100%;

        padding: 21px 16px 16px 16px;

        border-radius: 10px;
        border: 5px solid var(--gb-f-green);

        background-color: var(--gb-b-green);
        text-align: left;

        transition: 0.3s;

        &:hover {
            transform: scale(1.02) translateY(-5px);
        }

        #t {
            position: absolute;
            width: calc(100%);
            padding-left: 5px;
            transform: translateY(-21px) translateX(-16px);

            color: var(--gb-f-green);
            font-style: italic;
            font-size: small;

            border-bottom: 5px double var(--gb-f-green);

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #h {
            color: var(--gb-bg1);
            display: static;
            font-size: x-large;
            margin: 0;
        }

        #p {
            margin-left: 16px;
            color: var(--gb-bg1);
            display: static;
            font-size: medium;
        }
    }
}

#article {
    background: rgb(88, 88, 88);
}
