@use "sass:math";

@import "variables";
@import "config";
@import "text";
// other css files
// font stuff (noway)
@font-face {
    font-family: "FixedSys";
    src: url("../assets/FSEX300.ttf");
}

body {
    margin: 0;
    font-family: FixedSys;
    overflow-x: clip;
    background-color: white;
}

// stole from somewhere i forget
#grid {
    position: fixed;
    left: 0;
    // top: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    
    // animation: parallax-rev 1s linear infinite;
    // animation-play-state: paused;
    // animation-delay: calc(var(--scroll) * -1s);
    
    background-image: linear-gradient(
            0deg,
            transparent 9%,
            var(--color-grid-2) 10%,
            var(--color-grid-2) 12%,
            transparent 13%,
            transparent 29%,
            var(--color-grid-1) 30%,
            var(--color-grid-1) 31%,
            transparent 32%,
            transparent 49%,
            var(--color-grid-1) 50%,
            var(--color-grid-1) 51%,
            transparent 52%,
            transparent 69%,
            var(--color-grid-1) 70%,
            var(--color-grid-1) 71%,
            transparent 72%,
            transparent 89%,
            var(--color-grid-1) 90%,
            var(--color-grid-1) 91%,
            transparent 92%,
            transparent
        ),
        linear-gradient(
            90deg,
            transparent 9%,
            var(--color-grid-2) 10%,
            var(--color-grid-2) 12%,
            transparent 13%,
            transparent 29%,
            var(--color-grid-1) 30%,
            var(--color-grid-1) 31%,
            transparent 32%,
            transparent 49%,
            var(--color-grid-1) 50%,
            var(--color-grid-1) 51%,
            transparent 52%,
            transparent 69%,
            var(--color-grid-1) 70%,
            var(--color-grid-1) 71%,
            transparent 72%,
            transparent 89%,
            var(--color-grid-1) 90%,
            var(--color-grid-1) 91%,
            transparent 92%,
            transparent
        );
    background-size: 50px 50px;
}

// the meat and bones of the websites, or, shockingly, the content
.content {
    overflow: visible;
    left: 0px;
    // transform: TranslateY(100vh);
    position: relative;

    left: calc(50vw - $content-width / 2);
    width: $content-width;
    text-align: center;
    // background-color: gray;

    #frame {
        border-radius: $border-radius;
        border: $border-size solid;
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(100% - 5px);
    }

    #title-bar {
        height: 20px;
        width: 100%;
        position: relative;

        border: $border-size solid;

        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        text-align: center;
        font-family: "FixedSys";

        #window-button {
            width: 60px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

@for $i from 1 to 8 {
    .content#home:nth-child(#{$i}) {
        $hue: $i * 20 + 150;
        #frame {
            border-color: hsl($hue, 32%, 75%);
            background-color: hsl($hue, 56%, 84%);
        }
        #title-bar {
            border-color: hsl($hue, 32%, 75%);
            background-color: hsl($hue, 72%, 91%);
        }
        .project {
            .desc {
                background-color: hsl($hue, 85%, 95%);
            }
        }
    }
    .content#blog {
        $hue: $i * 20 + 20;
        > #frame:nth-child(#{$i}) {
            border-color: hsl($hue, 32%, 75%);
            background-color: hsl($hue, 56%, 84%);
            .markdown-body {
                background-color: hsl($hue, 85%, 95%);
            }
        }
        #title-bar:nth-child(#{$i}) {
            border-color: hsl($hue, 32%, 75%);
            background-color: hsl($hue, 72%, 91%);
        }
    }
}

$navbar-height: calc(1.2em);

#tabs {
    z-index: 9001;

    position: absolute;
    font-size: 4vh;

    height: $navbar-height;

    width: 100vw;
    left: 0;
    top: 0;
    border-bottom: 5px solid var(--gb-bg0-h);
    background-color: var(--gb-bg0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #tab {
        display: inline-block;

        height: calc($navbar-height + 5px);
        height: 100%;

        transition: 0.3s;

        text-align: center;
        font-size: xx-large;
    }

    img {
        height: $navbar-height;
    }
}

// info about each tab, width, color, etc
$tab-info: (
    "home": (
        8vw,
        var(--gb-blue),
        var(--gb-f-blue),
    ),
    "blog": (
        8vw,
        var(--gb-green),
        var(--gb-f-green),
    ),
    "source": (
        $navbar-height,
        transparent,
        var(--gb-fg0),
    ),
);

@for $i from 1 through length($tab-info) {
    $info: nth(nth($tab-info, $i), 2);
    $width: nth($info, 1);
    $color: nth($info, 2);
    $hover-color: nth($info, 3);

    #tab:nth-child(#{$i}) {
        color: $color;
        width: $width;
    }

    #tab:nth-child(#{$i}):hover {
        background-color: $hover-color;
    }
}

#article {
    background: rgb(88, 88, 88);
}
