

$content-width: min(calc(100vw * 0.85), 1000px);
$border-radius: 10px;
$border-size: 5px;

$lcd-width: clamp(300px, 35vw, 500px);
$lcd-height: calc($lcd-width * 0.4825);
$unit-width: calc($lcd-width / 114);
$flop-size: calc($lcd-width * 0.3);
$header-height: calc(4vh + $lcd-height * 1.5);

$text-size: calc($lcd-width * 0.0875);