<div class="content" id="blog">
    <div id="frame"></div>
    <div class="flex">
        <div id="title-bar">
            <img id="window-button" src="assets/window.svg" />
            <i><span style="color:var(--gb-blue)">Viewing</span><span style="color:var(--gb-green)"> - </span><span
                    style="color:var(--gb-yellow)">web</span><span style="color:var(--gb-green)">/</span><span
                    style="color:var(--gb-yellow)">template</span><span style="color:var(--gb-green)">/</span><span
                    style="color:var(--gb-yellow)">blog</span><span style="color:var(--gb-red)">.html</span></i>
        </div>
        <div id="preview-wrapper">
<a id="preview" href="/article/test"><div id="t">
    [Mon Feb 13 16:26:36 2023] Viewing ./media/article/test.md
    </div><div id="h">Test</div>
    <div id="p">This is to test if the blog thingy works.</div>
</a>
<a id="preview" href="/article/test2"><div id="t">
    [Mon Feb 13 16:26:36 2023] Viewing ./media/article/test2.md
    </div><div id="h">Test2</div>
    <div id="p">This is to test if the blog thingy works. (2 electric boogaloo).</div>
</a></div>
    </div>
</div>