<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Isospin</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/index.js"></script>
</head>

<body style="background-color: rgb(118, 151, 212)">
    <div id="grid"></div>
    <div id="tabs">
        <a id="tab" href="/home">home</a>
        <a id="tab" href="/blog">blog</a>
        <a id="tab" target="_blank" rel="noopener noreferrer" href="https://github.com/aspiringLich/isospin"><img
                src="assets/github.png"></a>
    </div>
    <div id="header">
        <div id="post-it">{{POST-IT-L}}</div>
        <div id="post-it">{{POST-IT-R}}</div>
        <div id="lcd" class="center-horizontal">
            <img src="assets/lcd_dot_matrix.svg" />
            <div id="lcd-matrix" class="center">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <h1 class="center">&ltISOSPIN&gt</h1>
            </div>
        </div>
        <img id="flop" src="assets/big-floppa.gif">
    </div>
    {{CONTENT}}
</body>
<div style="height: 20vh"></div>