<div id="content">
    <div id="frame"></div>
    <div class="flex">
        <div id="title">
            <svg width="60" height="20" style="position: absolute; right: 0; top: 0;">
                <circle cx="17" cy="10" r="6" fill="var(--gb-green)" />
                <circle cx="33" cy="10" r="6" fill="var(--gb-yellow)" />
                <circle cx="49" cy="10" r="6" fill="var(--gb-red)" />
            </svg>
            <i><span id="gb-blue">Viewing</span><span id="gb-green"> - </span><span id="gb-yellow">web</span><span
                    id="gb-green">/</span><span id="gb-yellow">template</span><span id="gb-green">/</span><span
                    id="gb-yellow">home</span><span id="gb-red">.html</span></i>
        </div>
    </div>
    {{CONTENT}}
</div>