<div class="proj-wrapper">
    <img class="icon" src="projects/{{NAME}}.png">
    <div class="desc">
        <div id="title-bar">
            <i>
                <span style="color:var(--text-blue)">#desc</span><span style="color:var(--text-green)"> - </span><span
                    style="color:var(--text-yellow)">web</span><span style="color:var(--text-green)">/</span><span
                    style="color:var(--text-yellow)">static</span><span style="color:var(--text-green)">/</span><span
                    style="color:var(--text-yellow)">projects</span><span style="color:var(--text-green)">/</span><span
                    style="color:var(--text-yellow)">{{NAME}}</span><span style="color:var(--text-red)">.md</span>
            </i>
            {{CONTENT}}
        </div>
    </div>
</div>