/* GRUVBOX but slightly modified */
:root {
  --color-bg: hsl(0, 0%, 100%);
  --color-grid-1: rgba(0, 0, 0, 0.02);
  --color-grid-2: rgba(0, 0, 0, 0.04);
}

@keyframes parallax {
  to {
    transform: translateY(10vw);
  }
}
@keyframes parallax-rev {
  to {
    transform: translateY(-10vw);
  }
}
:root {
  --post-it-space: calc(50vw - clamp(300px, 35vw, 500px) / 2);
}

#header {
  top: 4vh;
  transform: translate(-8px, -8px);
  width: 100vw;
  height: calc(4vh + clamp(300px, 35vw, 500px) * 0.4825 * 1.5);
  z-index: 0;
  position: relative;
  animation: parallax 3s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#flop {
  position: absolute;
  width: calc(clamp(300px, 35vw, 500px) * 0.3);
  height: calc(clamp(300px, 35vw, 500px) * 0.3);
  top: calc(4vh + clamp(300px, 35vw, 500px) * 0.4825 * 1.5 - clamp(300px, 35vw, 500px) * 0.3 + 10px);
  left: calc(50vw - clamp(300px, 35vw, 500px) * 0.3 / 2);
}

#lcd {
  top: 50px;
  z-index: 0;
  width: clamp(300px, 35vw, 500px);
  height: calc(clamp(300px, 35vw, 500px) * 0.4825);
}

#lcd-matrix {
  overflow: hidden;
  font-family: "FixedSys";
  text-align: center;
  -webkit-text-fill-color: #c9e1ff;
  -webkit-text-stroke-color: #c9e1ff;
  width: 84.2105263158%;
  height: 63.6363636364%;
  margin: auto;
}
#lcd-matrix h1 {
  font-size: calc(clamp(300px, 35vw, 500px) * 0.0875 * 1.8);
}
#lcd-matrix p {
  position: absolute;
  -webkit-text-fill-color: rgba(201, 225, 255, 0.2509803922);
  margin-top: 0;
  margin-bottom: 0;
  top: calc(clamp(300px, 35vw, 500px) * 0.0875 * -1);
  font-size: calc(clamp(300px, 35vw, 500px) * 0.0875);
  animation-name: text-scroll-down;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#post-it {
  width: var(--post-it-space);
  height: calc(4vh + clamp(300px, 35vw, 500px) * 0.4825 * 1.5 - 6vh + clamp(300px, 35vw, 500px) * 0.55);
  display: grid;
  position: absolute;
}
#post-it:nth-child(1) {
  left: 0;
}
#post-it:nth-child(2) {
  right: 0;
}
#post-it #note {
  position: absolute;
  width: calc(clamp(300px, 35vw, 500px) * 0.55);
  height: calc(clamp(300px, 35vw, 500px) * 0.55);
  margin: 0 auto;
}
#post-it #note:nth-child(1) {
  animation: parallax 1.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it #note:nth-child(2) {
  animation: parallax 2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it #note:nth-child(3) {
  animation: parallax 2.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it #note:nth-child(4) {
  animation: parallax 3s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it #note:nth-child(5) {
  animation: parallax 3.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it #note:nth-child(6) {
  animation: parallax 4s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it #note:nth-child(7) {
  animation: parallax 4.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it #note:nth-child(8) {
  animation: parallax 5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
#post-it img {
  width: 80%;
  position: absolute;
}

.right > * {
  right: 0;
}

/*# sourceMappingURL=header.css.map */
