/* GRUVBOX but slightly modified */
@import "text.css";
:root {
  --color-frame-blue: hsl(192, 32%, 75%);
  --color-inner-blue: hsl(193, 56%, 84%);
  --color-bg: hsl(0, 0%, 100%);
  --color-grid-1: rgba(255, 255, 255, 0.2);
  --color-grid-2: rgba(255, 255, 255, 0.3);
}

@font-face {
  font-family: "FixedSys";
  src: url("../assets/FSEX300.ttf");
}
body {
  margin: 0;
  font-family: FixedSys;
  overflow-x: clip;
  background-color: white;
}

#grid {
  position: fixed;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: var(--color-bg);
  background-image: linear-gradient(0deg, transparent 9%, var(--color-grid-2) 10%, var(--color-grid-2) 12%, transparent 13%, transparent 29%, var(--color-grid-1) 30%, var(--color-grid-1) 31%, transparent 32%, transparent 49%, var(--color-grid-1) 50%, var(--color-grid-1) 51%, transparent 52%, transparent 69%, var(--color-grid-1) 70%, var(--color-grid-1) 71%, transparent 72%, transparent 89%, var(--color-grid-1) 90%, var(--color-grid-1) 91%, transparent 92%, transparent), linear-gradient(90deg, transparent 9%, var(--color-grid-2) 10%, var(--color-grid-2) 12%, transparent 13%, transparent 29%, var(--color-grid-1) 30%, var(--color-grid-1) 31%, transparent 32%, transparent 49%, var(--color-grid-1) 50%, var(--color-grid-1) 51%, transparent 52%, transparent 69%, var(--color-grid-1) 70%, var(--color-grid-1) 71%, transparent 72%, transparent 89%, var(--color-grid-1) 90%, var(--color-grid-1) 91%, transparent 92%, transparent);
  height: 100%;
  background-size: 50px 50px;
}

#content {
  overflow: visible;
  left: 0px;
  position: relative;
  left: 7.5vw;
  width: 85vw;
  text-align: center;
}
#content #frame {
  border-radius: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100%;
}
#content #frame.blue {
  border: 5px solid var(--color-frame-blue);
  background-color: var(--color-inner-blue);
}
#content #frame.green {
  border: 5px solid var(--color-frame-green);
  background-color: var(--color-inner-green);
}
#content #title-bar {
  height: 20px;
  width: 100%;
  position: relative;
  border: 5px solid var(--gb-bg0-h);
  background-color: var(--gb-bg0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-family: "FixedSys";
}
#content #title-bar #window-button {
  width: 60px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

#tabs {
  z-index: 9001;
  position: fixed;
  font-size: 4vh;
  height: 1.2em;
  width: 100vw;
  left: 0;
  top: 0;
  border-bottom: 5px solid var(--gb-bg0-h);
  background-color: var(--gb-bg0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#tabs #tab {
  display: inline-block;
  height: calc(1.2em + 5px);
  height: 100%;
  transition: 0.3s;
  text-align: center;
  font-size: xx-large;
}
#tabs img {
  height: 1.2em;
}

#tab:nth-child(1) {
  color: var(--gb-blue);
  width: 8vw;
}

#tab:nth-child(1):hover {
  background-color: var(--gb-f-blue);
}

#tab:nth-child(2) {
  color: var(--gb-green);
  width: 8vw;
}

#tab:nth-child(2):hover {
  background-color: var(--gb-f-green);
}

#tab:nth-child(3) {
  color: transparent;
  width: 1.2em;
}

#tab:nth-child(3):hover {
  background-color: var(--gb-fg0);
}

#preview-wrapper {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  align-items: center;
  display: flex;
}
#preview-wrapper #preview {
  flex: auto;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 7.5px;
  width: calc(50% - 80px);
  height: 100%;
  padding: 21px 16px 16px 16px;
  border-radius: 10px;
  border: 5px solid var(--gb-f-green);
  background-color: var(--gb-b-green);
  text-align: left;
  transition: 0.3s;
}
#preview-wrapper #preview:hover {
  transform: scale(1.02) translateY(-5px);
}
#preview-wrapper #preview #t {
  position: absolute;
  width: 100%;
  padding-left: 5px;
  transform: translateY(-21px) translateX(-16px);
  color: var(--gb-f-green);
  font-style: italic;
  font-size: small;
  border-bottom: 5px double var(--gb-f-green);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#preview-wrapper #preview #h {
  color: var(--gb-bg1);
  display: static;
  font-size: x-large;
  margin: 0;
}
#preview-wrapper #preview #p {
  margin-left: 16px;
  color: var(--gb-bg1);
  display: static;
  font-size: medium;
}

#article {
  background: rgb(88, 88, 88);
}

/*# sourceMappingURL=styles.css.map */
