@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bg: theme(colors.neutral.200);
		--color-grid-1: rgb(0 0 0 / 0.1);
		--color-grid-2: rgb(0 0 0 / 0.12);
	}
}
@font-face {
	font-family: "VeraMono";
	src: url("/static/fonts/VeraMono-Bold.woff2") format("woff2")
		url("/static/fonts/VeraMono-Bold.ttf") format("ttf");
}
